[user]
	email = s0566845@htw-berlin.de
	name = Joscha Seelig
	username = jdsee
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[core]
	editor = nvim
	autocrlf = input
[pull]
	rebase = true
[init]
	defaultBranch = main
